APP_ENV=production
APP_URL=https://propostas.bemindmarketing.com.br
APP_KEY=
APP_TIMEZONE=America/Sao_Paulo

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

MAIL_HOST=
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM=contato@bemindmarketing.com.br
MAIL_FROM_NAME="Be Mind Marketing"

COMPANY_WHATSAPP=5566996001122

SESSION_LIFETIME=120
SESSION_SECURE=true
